.card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #673AB7;
    color: #fff;
    border-radius: 12px;
    transition: box-shadow 0.3s ease;

}

.card:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}